.root{
    --color-primary:#a54abe;
    --color-secondary:
}
body{
    margin:0;
}
.left{
    background-color: ;
    flex:1;

}
.right{
    background-color: ;
    flex:1;
}

/*body{ 
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin:0px;
}
.login{
    display:flex;
    flex-direction: column;
    width:50%;
    height:100vh;
    background-color: black;
    padding: 0 30
.login input{
    padding:13px;
    width:100%;
}
.welcome{
    display:inline;
    width:50%;
    height:100vh;
    background-color: rgb(219, 31, 178);
    display:flex;
    align-items: center;
    display:block;
    text-align: center;
    padding: 0 30px;
    */
    

